.idea
*.iml
local.properties
build
.gradle
# Eclipse project files
.project
.settings/	
.idea/workspace.xml
.idea/misc.xml
.idea/.name
.idea/modules.xml
.idea/runConfigurations.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/vcs.xml
.classpath